<template lang="pug">
  v-content
    v-toolbar(
      flat
      dark
      color="secondary"
      height="90"
    )
      v-toolbar-title.font-weight-regular Home

    v-container.fluid.grid-list-xl
      v-layout.row.wrap
        v-flex.xs12.md4
          v-card.d-flex.align-center(color="primary" dark height='200' to="/terminals")
            v-scroll-y-transition
              .display-1.text-xs-center.font-weight-light
                | Terminals

        v-flex.xs12.md4
          v-card.d-flex.align-center(color="primary" dark height='200' to="/register-terminal")
            v-scroll-y-transition
              .display-1.text-xs-center.font-weight-light
                | Register New Terminal

        v-flex.xs12.md4
          v-card.d-flex.align-center(color="primary" dark height='200' to="/users")
            v-scroll-y-transition
              .display-1.text-xs-center.font-weight-light
                | Users
</template>

<script>
export default {
  name: "home"
};
</script>
