<template lang="pug">
  v-content
    v-container(fluid fill-height)
      v-layout(align-center justify-center)
        v-flex(xs12 sm8 md4)
          v-card.elevation-12
            v-toolbar(dark color="secondary" flat)
              v-toolbar-title.font-weight-regular Login

            v-card-text
              v-form(ref="form" v-model="valid" lazy-validation)
                v-text-field(prepend-icon="person" label="Login" v-model="login" :rules="LOGIN_RULES")
                v-text-field(prepend-icon="lock" label="Password" type="password" v-model="password" :rules="PASSWORD_RULES")

            v-card-actions
              v-spacer
              v-btn(color="primary" @click="loginHandler" depressed :disabled="loading") Login
</template>

<script>
import { mapState } from "vuex";
import { LOGIN_RULES, PASSWORD_RULES } from "../constants/validation-rules.js";

export default {
  data() {
    return {
      login: "",
      password: "",
      valid: true
    };
  },
  created() {
    this.PASSWORD_RULES = PASSWORD_RULES;
    this.LOGIN_RULES = LOGIN_RULES;
  },
  computed: {
    ...mapState({
      loading: state => state.loading.show
    })
  },
  methods: {
    loginHandler() {
      if (!this.$refs.form.validate()) {
        return;
      }

      const { login, password } = this;

      this.$store.dispatch("account/login", { login, password });
    }
  }
};
</script>
