<template lang="pug">
  v-content
    v-toolbar(
      flat
      dark
      color="secondary"
      height="90"
    )
      v-toolbar-title.font-weight-regular Register new terminals
      v-spacer
      v-btn(:to="{ name: 'terminalCreate' }" color="white" light depressed) Manual Setup
        v-icon(right dark) chevron_right

    v-card(flat color="#f7f7f7")
      v-container.fluid
        v-form(ref="form" v-model="valid" lazy-validation)
          v-layout.row.wrap.align-start
            v-flex.xs12
              v-label Enter serial number
            v-flex.xs2
              v-text-field.v-text-field--small(flat solo height="36" light v-model="serial" :rules="TERMINAL_SERIAL_RULES")
            v-btn.mt-0(color="secondary" light depressed @click="register" :disabled="loading") Register

    v-card.pt-5(flat)
      v-container.fluid
        v-layout.row.wrap.justify-center(v-if="registerSuccess")
          v-flex.xs4.text-xs-center.secondary--text
            v-img(:src="iconSuccess" height="120" contain position="center")

            h3.mt-4.display-2 Success
            v-btn.mt-4(color="primary" large depressed) Configure Terminal
              v-icon(right dark) chevron_right

          v-flex.xs4.text-xs-center.primary--text(v-if="registerError")
            v-img(:src="iconError" height="120" contain position="center")

            h3.mt-4.display-2 Oops
            h4.mt-4.headline This terminal is already registered to another entity. Please contact support


</template>

<script>
import { mapState } from "vuex";
import { TERMINAL_SERIAL_RULES } from "../constants/validation-rules";
import iconSuccess from "../assets/images/icon_success.svg";
import iconError from "../assets/images/icon_error.svg";

export default {
  name: "RegisterTerminal",
  data() {
    return {
      serial: "",
      valid: true,
      registerSuccess: false,
      registerError: false
    };
  },
  created() {
    this.TERMINAL_SERIAL_RULES = TERMINAL_SERIAL_RULES;
  },
  computed: {
    ...mapState({
      loading: state => state.loading.show
    }),
    iconSuccess() {
      return iconSuccess;
    },
    iconError() {
      return iconError;
    }
  },
  methods: {
    register() {
      this.registerSuccess = false;

      if (!this.$refs.form.validate()) {
        return;
      }

      this.$store.dispatch("terminals/registerTerminal").then(() => {
        this.registerSuccess = true;
      });
    }
  }
};
</script>

<style scoped lang="stylus">
.v-content
  background #fff
</style>
