<template lang="pug">
  v-content
    v-toolbar(
      flat
      dark
      color="secondary"
      height="90"
    )
      v-toolbar-title.font-weight-regular Bolt Setup

    v-container.fluid
      v-form(ref="form" v-model="valid" lazy-validation)
        v-layout.row.wrap
          v-flex.xs12.md4.lg3
            v-label Access Token
            v-text-field.v-text-field--small(flat solo height="36" light v-model="accessToken" :rules="ACCESS_TOKEN_RULES")

            v-label Merchant ID
            v-text-field.v-text-field--small(flat solo height="36" light v-model="merchantId" :rules="MERCHANT_ID_RULES")

            v-label User Name
            v-text-field.v-text-field--small(flat solo height="36" light v-model="userName" :rules="NAME_RULES" browser-autocomplete="nope")

            v-label Password
            v-text-field.v-text-field--small(
              flat solo height="36" light
              v-model="userPassword"
              :append-icon="userPasswordShow ? 'visibility' : 'visibility_off'"
              :type="userPasswordShow ? 'text' : 'password'"
              @click:append="userPasswordShow = !userPasswordShow"
              :rules="PASSWORD_RULES"
              browser-autocomplete="new-password"
            )

            v-btn.mt-0.ml-0(color="secondary" light depressed @click="create" :disabled="loading") Continue

          v-flex.xs12.md4.lg3.offset-md2
            v-label Result
            v-card.v-card--border(min-height="330" flat)
              v-card-text
                p(v-for="result in results")
                  | {{ result.id }} -
                  span.font-weight-medium.text-uppercase(:class="[result.status=='Created' ? 'success--text' : 'error--text']") {{ result.status }}

</template>

<script>
import { mapState } from "vuex";
import {
  ACCESS_TOKEN_RULES,
  MERCHANT_ID_RULES,
  NAME_RULES,
  PASSWORD_RULES
} from "../constants/validation-rules";

export default {
  name: "TerminalBoldSetup",
  data() {
    return {
      accessToken: "",
      merchantId: "",
      userName: "",
      userPassword: "",
      userPasswordShow: false,
      valid: true,
      results: []
    };
  },
  created() {
    this.ACCESS_TOKEN_RULES = ACCESS_TOKEN_RULES;
    this.MERCHANT_ID_RULES = MERCHANT_ID_RULES;
    this.NAME_RULES = NAME_RULES;
    this.PASSWORD_RULES = PASSWORD_RULES;
  },
  computed: {
    ...mapState({
      loading: state => state.loading.show
    })
  },
  methods: {
    create() {
      if (!this.$refs.form.validate()) {
        return;
      }

      this.$store.dispatch("terminals/boldSetupTerminal").then(() => {
        let result = {
          id: this.accessToken,
          status: "Created"
        };

        this.results.push(result);
        this.clear();
      });
    },
    clear() {
      this.accessToken = "";
      this.merchantId = "";
      this.userName = "";
      this.userPassword = "";
      this.userPasswordShow = false;
      this.$refs.form.resetValidation();
    }
  }
};
</script>
