<template lang="pug">
  v-content
    v-toolbar(
      flat
      dark
      color="secondary"
      height="90"
    )
      v-toolbar-title.font-weight-regular Create terminal
      v-spacer
      v-btn(:to="{ name: 'terminalBoltSetup' }" color="white" light depressed) Bold Setup
        v-icon(right dark) chevron_right

    v-container.fluid
      v-form(ref="form" v-model="valid" lazy-validation)
        v-layout.row.wrap
          v-flex.xs12.md4.lg3
            v-label Serial number
            v-text-field.v-text-field--small(flat solo height="36" light v-model="serial" :rules="SERIAL_NUM_RULES")

            v-label Select terminal type
            v-layout.row.wrap
              v-select.v-select--small(flat solo light height="36" :items="terminalTypes" v-model="terminalType" :rules="TERMINAL_TYPE_RULES")
              v-btn.mt-0.mr-0(color="secondary" light depressed @click="create" :disabled="loading") Continue

          v-flex.xs12.md4.lg3.offset-md2
            v-label Need help deciding?
            v-expansion-panel
              v-expansion-panel-content(v-for="doc in countriesDocs")
                template(v-slot:header)
                  div {{ doc.name }}
                v-card
                  v-card-text {{ doc.description }}

</template>

<script>
import { mapState } from "vuex";
import {
  SERIAL_NUM_RULES,
  TERMINAL_TYPE_RULES
} from "../constants/validation-rules";

export default {
  name: "TerminalCreate",
  data() {
    return {
      serial: "",
      terminalType: "",
      valid: true
    };
  },
  created() {
    this.SERIAL_NUM_RULES = SERIAL_NUM_RULES;
    this.TERMINAL_TYPE_RULES = TERMINAL_TYPE_RULES;
  },
  mounted() {
    this.$store.dispatch("terminalTypes/getTerminalTypes").then(() => {
      this.type = this.terminalTypes[0];
    });
    this.$store.dispatch("countriesDocs/getCountriesDocs");
  },
  computed: {
    ...mapState({
      terminalTypes: state => state.terminalTypes.terminalTypes,
      countriesDocs: state => state.countriesDocs.countriesDocs,
      loading: state => state.loading.show
    })
  },
  methods: {
    create() {
      if (!this.$refs.form.validate()) {
        return;
      }

      this.$store.dispatch("terminals/createTerminal").then(() => {
        this.clear();
      });
    },
    clear() {
      this.serial = "";
      this.terminalType = "";
      this.$refs.form.resetValidation();
    }
  }
};
</script>
