<template lang="pug">
  v-content
    v-toolbar(
      flat
      dark
      color="secondary"
      height="90"
    )
      v-toolbar-title.font-weight-regular Terminal Settings

    v-container.fluid(v-if="terminal")
      .headline.mb-4 PAX {{ terminal.serial }}
      v-form(ref="form" v-model="valid" lazy-validation)
        v-layout.row.wrap
          v-flex.xs12.md3.xl2
            v-label Tip Prompt
            v-radio-group.mt-0(v-model="tipPrompt" row)
              v-radio(label="Enabled" value="enabled" color="secondary")
              v-radio(label="Disabled" value="disabled" color="secondary")

            v-label Tokens
            v-radio-group.mt-0(v-model="tokens" row)
              v-radio(label="Enabled" value="enabled" color="secondary")
              v-radio(label="Disabled" value="disabled" color="secondary")

            v-label Signature
            v-radio-group.mt-0(v-model="signature" row)
              v-radio(label="Enabled" value="enabled" color="secondary")
              v-radio(label="Disabled" value="disabled" color="secondary")

            v-label Bill To
            v-select.v-select--small(flat solo light height="36" :items="resellers" item-text="name" item-value="id" v-model="billTo" :rules="RESELLER_RULES")

            v-btn.mt-0.ml-0(color="secondary" light depressed @click="save" :disabled="loading") Save
            v-btn.mt-0.ml-0(color="primary" light depressed :disabled="loading") Send test date

          v-flex.xs12.md4.lg3.offset-md2
            v-label Tip Prompt
            p.mb-3 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

            v-label Tokens
            p.mb-3 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

            v-label Signature
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

</template>

<script>
import { mapState } from "vuex";
import { RESELLER_RULES } from "../constants/validation-rules";

export default {
  name: "TerminalSettings",
  data() {
    return {
      valid: true,
      tipPrompt: "enabled",
      tokens: "enabled",
      signature: "enabled",
      billTo: ""
    };
  },
  created() {
    this.RESELLER_RULES = RESELLER_RULES;
  },
  mounted() {
    const id = parseInt(this.$route.params.id, 10);
    this.$store.dispatch("terminal/getTerminal", id);
    this.$store.dispatch("resellers/getResellers");
  },
  computed: {
    ...mapState({
      terminal: state => state.terminal.terminal,
      resellers: state => state.resellers.resellers,
      loading: state => state.loading.show
    })
  },
  methods: {
    save() {
      if (!this.$refs.form.validate()) {
        return;
      }

      this.$store.dispatch("terminal/update", this.terminal).then(() => {
        this.clear();
      });
    },
    clear() {
      this.tipPrompt = "enabled";
      this.tokens = "enabled";
      this.signature = "enabled";
      this.billTo = "";

      this.$refs.form.resetValidation();
    }
  }
};
</script>
