<template lang="pug">
  v-content
    v-toolbar(
      flat
      dark
      color="secondary"
      height="90"
    )
      v-toolbar-title.font-weight-regular Terminals
      v-spacer

      v-flex.xs2.mr-2
        v-text-field.v-text-field--small(flat solo height="36" light v-model="filterSerial" label="Serial Number")

      v-flex.xs2
        v-text-field.v-text-field--small(flat solo height="36" light v-model="filterName" label="Name")

      v-btn(@click="applyFilter" color="white" light depressed) Search

    v-data-table(
      :headers="headers"
      :items="terminals"
      :hide-actions="true"
      class="elevation-1"
      align="center"
    )
      template(v-slot:items="props")
        td
          v-chip.ma-0(color="primary" text-color="white") {{ props.item.serial }}
        td {{ props.item.reseller_name }}

        td.text-xs-center
          v-btn(flat icon :to="{ name: 'transactions', query: { id: props.item.id }}")
            v-img(:src="iconTransaction" contain height="23")

        td.text-xs-center
          v-btn(flat icon :to="{ name: 'terminalSettings', params: { id: props.item.id }}")
            v-img(:src="iconSettings" contain height="23")

        td.text-xs-center
          v-switch.ml-2(@click.prevent="terminallUnpairModalShow(props.item.id, props.item.unpair)" :input-value="props.item.unpair" color="secondary" hide-details)

        td.text-xs-center
          v-btn(flat icon :to="{ name: 'terminalVirtual', params: { id: props.item.id }}")
            v-img(:src="iconTerminal" contain height="30")

    TerminallUnpairModal(
      :show="TerminallUnpairModalVisible"
      :terminal-id="TerminallUnpairModalTerminalId"
      @unpair="unpair"
      @close="TerminallUnpairModalVisible = false")

</template>

<script>
import { mapState } from "vuex";
import TerminallUnpairModal from "../components/TerminallUnpairModal";
import iconTransaction from "../assets/images/icon_transaction.svg";
import iconSettings from "../assets/images/icon_settings.svg";
import iconTerminal from "../assets/images/icon_terminal.svg";

export default {
  name: "Terminals",
  components: {
    TerminallUnpairModal
  },
  data() {
    return {
      headers: [
        { text: "Serial", value: "serial", sortable: false, width: "250" },
        { text: "Name", value: "name", sortable: false },
        {
          text: "Transactions",
          align: "center",
          sortable: false,
          width: "180"
        },
        { text: "Settings", align: "center", sortable: false, width: "180" },
        { text: "Unpair", align: "center", sortable: false, width: "100" },
        {
          text: "Virtual Terminal",
          align: "center",
          sortable: false,
          width: "180"
        }
      ],
      filterSerial: "",
      filterName: "",
      TerminallUnpairModalVisible: false,
      TerminallUnpairModalTerminalId: 0
    };
  },
  mounted() {
    this.$store.dispatch("terminals/getTerminals");
  },
  computed: {
    ...mapState({
      terminals: state => state.terminals.terminals
    }),
    iconTransaction() {
      return iconTransaction;
    },
    iconSettings() {
      return iconSettings;
    },
    iconTerminal() {
      return iconTerminal;
    }
  },
  methods: {
    applyFilter() {
      const filter = {
        serial: this.filterSerial,
        name: this.filterName
      };

      this.$store.dispatch("terminals/getTerminalsByFilter", filter);
    },
    terminallUnpairModalShow(id, unpair) {
      if (unpair) {
        return;
      }

      this.TerminallUnpairModalTerminalId = id;
      this.TerminallUnpairModalVisible = true;
    },
    unpair(id) {
      this.$store.dispatch("terminals/unpairTerminal", id);
      this.TerminallUnpairModalTerminalId = 0;
    }
  }
};
</script>
