<template lang="pug">
  v-content(v-if="terminal")
    v-toolbar(
      flat
      dark
      color="secondary"
      height="90"
    )
      v-toolbar-title.font-weight-regular Virtual Terminal - {{ terminal.reseller_name }} {{ terminal.serial }}

    v-container.fluid
      v-form(ref="form" v-model="valid" lazy-validation)
        v-layout.row.wrap
          v-flex.xs12.md4.lg3
            v-label Amount
            v-text-field.v-text-field--small(type="number" flat solo height="36" light :rules="AMOUNT_RULES" v-model="amount")

            v-radio-group.mt-0(v-model="amountType" row)
              v-radio(label="Sale" value="sale" color="secondary")
              v-radio(label="Refund" value="refund" color="secondary")

            v-btn.mt-0.ml-0(color="secondary" light depressed @click="send" :disabled="loading") Send

          v-flex.xs12.md4.lg3.offset-md2
            v-label Result

            v-card.v-card--border(min-height="330" flat)
              v-card-text
                p(v-for="result in results")
                  | {{ result.code }} -
                  span.font-weight-medium.text-uppercase(:class="[result.status=='Success' ? 'success--text' : 'error--text']")  {{ result.status }}

</template>

<script>
import { mapState } from "vuex";
import { AMOUNT_RULES } from "../constants/validation-rules";

export default {
  name: "TerminalVirtual",
  data() {
    return {
      amount: "",
      amountType: "sale",
      valid: true,
      results: []
    };
  },
  created() {
    this.AMOUNT_RULES = AMOUNT_RULES;
  },
  mounted() {
    const id = parseInt(this.$route.params.id, 10);
    this.$store.dispatch("terminal/getTerminal", id);
  },
  computed: {
    ...mapState({
      terminal: state => state.terminal.terminal,
      resellers: state => state.resellers.resellers,
      loading: state => state.loading.show
    })
  },
  methods: {
    send() {
      if (!this.$refs.form.validate()) {
        return;
      }
      this.$store.dispatch("terminal/update", this.terminal).then(() => {
        let result = {
          code: 200,
          status: "Success"
        };

        this.results.push(result);
        this.clear();
      });
    },
    clear() {
      this.amount = "";
      this.amountType = "sale";
      this.$refs.form.resetValidation();
    }
  }
};
</script>
