<template lang="pug">
  v-content
    v-toolbar(
      flat
      dark
      color="secondary"
      height="90"
    )
      v-toolbar-title.font-weight-regular Transactions
      v-spacer
      v-flex.xs2.mr-2
        v-menu(
          v-model="startDateMenu"
          :close-on-content-click="false"
          lazy
          transition="scale-transition"
          offset-y
          full-width
        )
          template(v-slot:activator="{ on }")
            v-text-field.v-text-field--small(
              v-model="startDate"
              label="Start date"
              readonly
              v-on="on"
              flat
              solo
              light
            )

          v-date-picker(
            v-model="startDate"
            @input="startDateMenu = false"
            :max="endDate"
            flat
            solo
          )

      v-flex.xs2
        v-menu(
          v-model="endDateMenu"
          width="247px"
          :close-on-content-click="false"
          lazy
          transition="scale-transition"
          full-width
          offset-y
        )
          template(v-slot:activator="{ on }")
            v-text-field.v-text-field--small(
              v-model="endDate"
              label="End date"
              readonly
              v-on="on"
              flat
              solo
              light
            )
          v-date-picker(
            v-model="endDate"
            @input="endDateMenu = false"
            :min="startDate"
          )
      v-btn(color="white" light depressed) Search
      v-btn(color="primary" depressed) Export

    v-data-table(
      :headers="headers"
      :items="transactions"
      :hide-actions="true"
      class="elevation-1"
    )
      template(v-slot:items="props")
        td
          v-btn(flat icon :to="{ name: 'transaction', params: { id: props.item.id }}")
            v-icon visibility
        td {{ props.item.status }}
        td {{ props.item.action }}
        td {{ props.item.amount }}
        td {{ props.item.auth_code }}
        td {{ props.item.duration }}
        td {{ props.item.date }}

</template>

<script>
import { mapState } from "vuex";

export default {
  name: "Transactions",
  data() {
    return {
      startDate: new Date().toISOString().substr(0, 10),
      startDateMenu: false,
      endDate: new Date().toISOString().substr(0, 10),
      endDateMenu: false,
      headers: [
        { text: "", sortable: false, width: "100" },
        { text: "Status", value: "status", sortable: false },
        { text: "Action", value: "action", sortable: false },
        { text: "Amount", value: "amount", sortable: false },
        { text: "Auth Code", value: "auth_code", sortable: false },
        { text: "Duration", value: "duration", sortable: false },
        {
          text: "Transaction Date (CST)",
          value: "date",
          sortable: false,
          width: "250"
        }
      ]
    };
  },
  mounted() {
    this.$store.dispatch("transactions/getTransactions");
  },
  computed: {
    ...mapState({
      transactions: state => state.transactions.transactions
    })
  },
  methods: {}
};
</script>
