<template lang="pug">
  v-content(v-if="transaction")
    v-toolbar(
      flat
      dark
      color="secondary"
      height="90"
    )
      v-toolbar-title.font-weight-regular {{ transaction.title }}
      v-spacer

    v-card(flat color="#f7f7f7")
      v-container.fluid
        .title.mb-4 {{ transaction.status }} ${{ transaction.price }}
        v-layout.subheading(row align-center)
          .d-inline-block.font-weight-medium.mr-1 Date:
          .d-inline-block.mr-5 {{ transaction.date }}

          .d-inline-block.font-weight-medium.mr-1 Auth Code:
          .d-inline-block.mr-5 {{ transaction.auth_code }}

          .d-inline-block.font-weight-medium.mr-2 {{ transaction.card_owner }}
          .d-inline-block.mr-2
            | {{ transaction.card_number }}

          v-img.d-inline-block.mr-2(:src="iconTransaction" contain max-width="36" width="36" height="27px")

          .d-inline-block.font-weight-medium.mr-1 Chip:
          .d-inline-block {{ transaction.card_chip }}

    v-card(flat)
      v-container.fluid.grid-list-md
        v-layout(row wrap )
          .flex.xs12.lg7.xl5
            .title.mb-4 EMV Data
            v-layout.subheading(row wrap)
              .flex.xs12.lg4
                .mb-3
                  .d-inline-block.font-weight-medium.mr-1 TC:
                  .d-inline-block {{ transaction.emv_tc }}
                .mb-3
                  .d-inline-block.font-weight-medium.mr-1 TVR:
                  .d-inline-block {{ transaction.emv_tvr }}
                .mb-3
                  .d-inline-block.font-weight-medium.mr-1 AID:
                  .d-inline-block {{ transaction.emv_aid }}
                .mb-3
                  .d-inline-block.font-weight-medium.mr-1 ATC:
                  .d-inline-block {{ transaction.emv_atc }}
                .mb-3
                  .d-inline-block.font-weight-medium.mr-1 TCI:
                  .d-inline-block {{ transaction.emv_tsi }}
                div
                  .d-inline-block.font-weight-medium.mr-1 Label:
                  .d-inline-block {{ transaction.emv_label }}

              .flex.xs12.lg8
                .mb-3
                  .d-inline-block.font-weight-medium.mr-1 Card Token:
                  .d-inline-block {{ transaction.card_token }}

                div
                  .d-inline-block.font-weight-medium.mr-1 ID:
                  .d-inline-block {{ transaction.emv_id }}

                .mb-3
                  .d-inline-block.font-weight-medium.mr-1 ATC:
                  .d-inline-block {{ transaction.emv_atc }}

                .mb-5.d-inline-flex.align-center
                  .d-inline-block.font-weight-medium.mr-2 Message:
                  .d-inline-block
                    v-switch.ma-0.pa-0(color="secondary" hide-details :input-value="transaction.emv_message")

                v-layout(row wrap)
                  .flex.xs12.sm6
                    v-btn.ma-0.v-btn--double(depressed block color="secondary")
                      v-icon.mr-3 visibility
                      | View
                      br
                      | Customer Receipt

                  .flex.xs12.sm6
                    v-btn.ma-0.v-btn--double(depressed block color="primary")
                      v-icon.mr-3 visibility
                      | View
                      br
                      | Merchant Receipt

                  .flex.xs12.sm6
                    v-btn.ma-0.v-btn--double(depressed block color="secondary")
                      v-icon.mr-3 print
                      | Print
                      br
                      | Customer Receipt

                  .flex.xs12.sm6
                    v-btn.ma-0.v-btn--double(depressed block color="primary")
                      v-icon.mr-3 print
                      | Print
                      br
                      | Merchant Receipt


          .flex.xs12.lg4.xl3.text-lg-right
            .transaction-card.d-inline-block
              v-img(:src="iconCard" width="250" height="158")
              .transaction-card__check
                v-img(:src="iconCardCheck" width="90" height="90")


</template>

<script>
import { mapState } from "vuex";
import iconTransaction from "../assets/images/icon_transaction.svg";
import iconCard from "../assets/images/icon_card.svg";
import iconCardCheck from "../assets/images/icon_check.svg";

export default {
  name: "Transaction",
  data() {
    return {};
  },
  mounted() {
    this.$store.dispatch("transaction/getTransaction");
  },
  computed: {
    ...mapState({
      transaction: state => state.transaction.transaction
    }),
    iconTransaction() {
      return iconTransaction;
    },
    iconCard() {
      return iconCard;
    },
    iconCardCheck() {
      return iconCardCheck;
    }
  },
  methods: {}
};
</script>

<style scoped lang="stylus">
.v-content
  background #fff

.transaction-card
  position relative
  width 267px
  height 200px

  &__check
    position absolute
    bottom 0
    right 0
    z-index 1
</style>
