<template lang="pug">
  v-content(v-if="user")
    v-toolbar(
      flat
      dark
      color="secondary"
      height="90"
    )
      v-toolbar-title.font-weight-regular {{ user.name }}
      v-spacer
      v-dialog(v-model="showDialog" width="500")
        template(v-slot:activator="{ on }")
          v-btn(color="primary" depressed v-on="on") Reset Password
        v-card
          v-toolbar(dark color="secondary" flat)
            v-btn(icon dark @click="showDialog = false")
              v-icon close
            v-toolbar-title.font-weight-regular.headline Reset Password

          v-form(ref="form")
            v-card-text.pb-0.pt-4
              v-text-field.v-text-field--small(label="New password" flat solo v-model="password" :rules="PASSWORD_RULES")
              v-text-field.v-text-field--small(label="Confirm password" flat solo v-model="confirmPassword" :rules="confirmPasswordRules")

            v-divider
            v-card-actions
              v-btn(color="primary" flat @click="showDialog = false" depressed) Cancel
              v-spacer
              v-btn(color="secondary" @click="confirmPasswordChange" depressed :disabled="loading") Confirm

    v-container.fluid.grid-list-xl
      v-layout.row.wrap
        v-flex.xs12.lg3
          UserInfo(:user="user" :resellers="resellers" :roles="roles" @action="update" :disabled="loading")

</template>

<script>
import { mapState } from "vuex";
import UserInfo from "../components/UserInfo.vue";
import {
  PASSWORD_RULES,
  CONFIRM_PASSWORD_RULES
} from "../constants/validation-rules";

export default {
  name: "User",
  components: {
    UserInfo
  },
  data() {
    return {
      showDialog: false,
      password: "",
      confirmPassword: "",
      valid: true,
      confirmPasswordRules: [
        ...CONFIRM_PASSWORD_RULES,
        v => v === this.password || "Passwords must match"
      ]
    };
  },
  created() {
    this.PASSWORD_RULES = PASSWORD_RULES;
  },
  mounted() {
    const id = parseInt(this.$route.params.id, 10);
    this.$store.dispatch("user/getUser", id);
    this.$store.dispatch("resellers/getResellers");
    this.$store.dispatch("roles/getRoles");
  },
  computed: {
    ...mapState({
      user: state => state.user.user,
      resellers: state => state.resellers.resellers,
      roles: state => state.roles.roles,
      loading: state => state.loading.show
    })
  },
  methods: {
    update() {
      this.$store.dispatch("user/update", this.user);
    },
    confirmPasswordChange() {
      if (this.$refs.form.validate()) {
        this.$store.dispatch("user/update", this.user).then(() => {
          this.showDialog = false;
          this.$store.dispatch("alert/success", "Password has beed changed");
        });
      }
    }
  }
};
</script>
