<template lang="pug">
  v-content
    v-toolbar(
      flat
      dark
      color="secondary"
      height="90"
    )
      v-toolbar-title.font-weight-regular Create New

    v-container.fluid.grid-list-xl(v-if="user")
      v-layout.row.wrap
        v-flex.sm12.lg3
          UserInfo(:user="user" :resellers="resellers" :roles="roles" :is-new="true" @action="create" :disabled="showLoading")

</template>

<script>
import { mapState } from "vuex";
import UserInfo from "../components/UserInfo.vue";
import DEFAULT_USER from "../constants/user-default";

export default {
  name: "User",
  components: {
    UserInfo
  },
  data() {
    return {
      user: {
        ...DEFAULT_USER
      }
    };
  },
  mounted() {
    this.$store.dispatch("resellers/getResellers");
    this.$store.dispatch("roles/getRoles");
  },
  computed: {
    ...mapState({
      resellers: state => state.resellers.resellers,
      roles: state => state.roles.roles,
      showLoading: state => state.loading.show
    })
  },
  methods: {
    create() {
      this.$store.dispatch("user/create", DEFAULT_USER).then(() => {
        this.$router.push({ name: "users" });
      });
    }
  }
};
</script>
