<template lang="pug">
  v-content
    v-toolbar(
      flat
      dark
      color="secondary"
      height="90"
    )
      v-toolbar-title.font-weight-regular Users
      v-spacer
      v-flex.xs2.mr-2
        v-select.v-select--small(flat solo light height="36" :items="filters" v-model="selectFilter" label="Filter By")
      v-flex.xs2
        v-text-field.v-text-field--small(flat solo height="36" light v-model="selectValue")
      v-btn(@click="applyFilter" color="white" depressed light) Search
      v-btn(@click="createNew" color="primary" depressed light) New

    v-data-table(
      :headers="headers"
      :items="users"
      :hide-actions="true"
      class="elevation-1"
    )
      template(v-slot:items="props")
        td
          v-btn(flat icon :to="{ name: 'user', params: { id: props.item.id }}")
            v-icon visibility
        td {{ props.item.name }}
        td
          v-chip.ma-0(color="primary" text-color="white") {{ props.item.email }}
        td {{ props.item.role }}
        td
          v-img(:src="iconActive(props.item.active)" contain height="20" width="45")
        td {{ props.item.last_login }}

</template>

<script>
import { mapState } from "vuex";
import { USERS_FILTER } from "../constants/filters.js";
import iconActiveEmpty from "../assets/images/icon_active_empty.svg";
import iconActive from "../assets/images/icon_active.svg";

export default {
  name: "Users",
  data() {
    return {
      headers: [
        { text: "", sortable: false, width: "100" },
        { text: "Name", value: "name", align: "left", sortable: false },
        { text: "Email", value: "email", sortable: false },
        { text: "Level", value: "role", sortable: false },
        { text: "Active", value: "active", sortable: false },
        { text: "Last Login", value: "last_login", sortable: false }
      ],
      filters: [USERS_FILTER.name, USERS_FILTER.email],
      selectFilter: USERS_FILTER.name,
      selectValue: ""
    };
  },
  mounted() {
    this.$store.dispatch("users/getUsers");
  },
  computed: {
    ...mapState({
      users: state => state.users.users
    })
  },
  methods: {
    applyFilter() {
      const filter = {
        email: this.selectFilter === USERS_FILTER.email ? this.selectValue : "",
        name: this.selectFilter === USERS_FILTER.name ? this.selectValue : ""
      };

      this.$store.dispatch("users/getUsersByFilter", filter);
    },
    createNew() {
      this.$router.push("user/new");
    },
    iconActive(active) {
      return active ? iconActive : iconActiveEmpty;
    }
  }
};
</script>
