<template lang="pug">
  v-snackbar(
    v-model="show"
    :timeout="timeout"
    :top="true"
    :color="alert.type"
  )
    | {{ alert.message }}
    v-btn(flat @click="close")
      | Close

</template>

<script>
import { mapState } from "vuex";

export default {
  name: "Alert",
  data() {
    return {
      show: false,
      timeout: 3000
    };
  },
  computed: {
    ...mapState({
      alert: state => state.alert
    })
  },
  watch: {
    "alert.type"(value) {
      if (value) {
        this.show = true;
      }
    },
    show(value) {
      if (!value) {
        this.$store.dispatch("alert/clear");
      }
    }
  },
  methods: {
    close() {
      this.show = false;
      this.$store.dispatch("alert/clear");
    }
  }
};
</script>
