<template lang="pug">
  v-navigation-drawer(
    id="app-drawer"
    app
    floating
    persistent
    mobile-break-point="768"
    width="162"
    style="background: #35414d;"
    dark
  )
    v-layout.fill-height(
      column
      tag="v-list"
    )
      v-card.mt-2.pt-4(flat to="/" height="133" style="background: none;")
        v-img(:src="logo" height="62" contain position="center")

      v-divider

      v-list.pa-0(three-line)
        v-list-tile.v-list-item.column.align-center.justify-center(to="/terminals" active-class="secondary")
          v-icon(large) computer
          v-list-tile-title.font-weight-regular.text-xs-center Terminals

        v-list-tile.v-list-item.column.align-center.justify-center(to="/register-terminal" active-class="secondary")
          v-icon(large) link
          v-list-tile-title.font-weight-regular.text-xs-center Claim New Terminal

        v-list-tile.v-list-item.column.align-center.justify-center(to="/users" active-class="secondary")
          v-icon(large) person
          v-list-tile-title.font-weight-regular.text-xs-center Users

        v-divider

        v-list-tile.v-list-item.column.align-center.justify-center(@click="logout")
          v-icon(large) exit_to_app
          v-list-tile-title.font-weight-regular.text-xs-center Logout

</template>

<script>
import { mapActions } from "vuex";
import logoImg from "../assets/images/logo.svg";

export default {
  name: "Header",
  computed: {
    logo() {
      return logoImg;
    }
  },
  methods: {
    ...mapActions("account", ["logout"])
  }
};
</script>
