<template lang="pug">
  v-progress-linear.v-progress-linear--over(
    v-if="show"
    :indeterminate="true"
    color="white"
  )
</template>

<script>
import { mapState } from "vuex";

export default {
  name: "Loading",
  computed: {
    ...mapState({
      show: state => state.loading.show
    })
  }
};
</script>
