<template lang="pug">
  v-dialog(v-model="show" width="500")
    v-card
      v-toolbar(dark flat color="secondary")
        v-btn(icon dark @click="hideModal")
          v-icon close
        v-toolbar-title.font-weight-regular.headline Unpairing

      v-form(ref="form")
        v-card-text
          | Unpairing the terminal will prevent the merchant from processing any transactions until it is paired again in the POS system.

        v-divider

        v-card-actions
          v-btn(color="primary" depressed @click="hideModal") Cancel
          v-spacer
          v-btn(color="red darken-2" depressed dark @click="unpair") Unpair

</template>

<script>
export default {
  name: "TerminallUnpairModal",
  props: {
    show: {
      type: Boolean,
      required: true
    },
    terminalId: {
      type: Number,
      required: true
    }
  },
  methods: {
    hideModal() {
      this.$emit("close");
    },
    unpair() {
      this.$emit("unpair", this.terminalId);
      this.hideModal();
    }
  }
};
</script>
