<template lang="pug">
  v-form(ref="form" v-model="valid" lazy-validation)
    v-label Name
    v-text-field.v-text-field--small(flat solo v-model="user.name" :rules="NAME_RULES")

    v-label Email
    v-text-field.v-text-field--small(flat solo v-model="user.email" :rules="EMAIL_RULES")

    v-label Role
    v-select.v-select--small(flat solo :items="roles" v-model="user.role" :rules="ROLES_RULES")

    v-label Reseller
    v-select.v-select--small(flat solo :items="resellers" label="" v-model="user.reseller_id" item-text="name" item-value="id" :rules="RESELLER_RULES")
    v-checkbox(v-if="!isNew" label="Active" v-model="user.active" color="secondary")

    v-btn.ml-0(@click="validate" color="secondary" large depressed :disabled="disabled") {{ buttonLabel }}
</template>

<script>
import {
  NAME_RULES,
  EMAIL_RULES,
  ROLES_RULES,
  RESELLER_RULES
} from "../constants/validation-rules";

export default {
  name: "UserInfo",
  props: {
    user: {
      type: Object,
      required: true
    },
    roles: {
      type: Array,
      required: true
    },
    resellers: {
      type: Array,
      required: true
    },
    isNew: {
      type: Boolean,
      default: false
    },
    disabled: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      valid: true
    };
  },
  created() {
    this.NAME_RULES = NAME_RULES;
    this.EMAIL_RULES = EMAIL_RULES;
    this.ROLES_RULES = ROLES_RULES;
    this.RESELLER_RULES = RESELLER_RULES;
  },
  computed: {
    buttonLabel() {
      return this.isNew ? "Create" : "Save";
    }
  },
  methods: {
    validate() {
      if (!this.$refs.form.validate()) {
        return;
      }

      this.$emit("action");
    }
  }
};
</script>
