<template>
  <v-app>
    <Alert />
    <Loading v-if="isLoggedIn" />
    <Header v-if="isLoggedIn" />
    <router-view />
  </v-app>
</template>

<script>
import { mapGetters } from "vuex";
// import axios from "axios";
import Alert from "./components/Alert.vue";
import Header from "./components/Header.vue";
import Loading from "./components/Loading.vue";
import "./assets/styles/styles.styl";

export default {
  name: "App",
  components: {
    Alert,
    Header,
    Loading
  },
  // TODO update after adding API calls
  // created() {
  //   axios.interceptors.response.use(undefined, function (err) {
  //     return new Promise(function (resolve, reject) {
  //       if (err.status === 401 && err.config && !err.config.__isRetryRequest) {
  //         this.$store.dispatch("account/logout");
  //       }
  //       throw err;
  //     });
  //   });
  // },
  computed: {
    ...mapGetters("account", ["isLoggedIn"])
  }
};
</script>
