.v-icon--right
  margin-left 5px

.v-label
  margin-bottom 5px
  display block

.v-chip
  font-size 14px

.h-auto
  height auto

  .v-list__tile
    height auto

.column
  flex-direction column

  .v-list__tile
    flex-direction column

.align-center
  align-items center

  .v-list__tile
    align-items center

.justify-center
  justify-content center

  .v-list__tile
    justify-content center

.theme--light.application
  background #f7f7f7

.v-content
  margin-left 3px

.v-toolbar
  margin-bottom 3px

body
  font-family "Roboto", "Helvetica", "Arial", sans-serif
  font-weight 300

.v-toolbar
  &__title
    font-size 30px

.v-card
  &--border
    border 1px solid #d3d3d3!important

.v-expansion-panel
  border 1px solid #d3d3d3
  box-shadow none

.v-text-field,.v-select
  &.v-text-field--small,&.v-select--small
    .v-text-field__details
      margin-top 4px

    .v-input
      font-size 15px

      &__control
        min-height 0

      &__slot
        min-height 36px
        margin-bottom 0
        border 1px solid #d3d3d3

        .v-label
          font-size 15px

table.v-table
  thead th
    font-size 18px
    font-weight 400
    background #35414d
    color #fff!important

  tbody
    td
      font-size 16px
    tr
      &:not(:last-child)
        border-bottom 0!important

      &:nth-child(even)
        background #EEF3F7

.elevation-1
  box-shadow none!important

.v-btn
  &--double
    height 52px
    padding 0 15px

    .v-btn__content
      white-space normal
      text-align left

.v-expansion-panel
  &__container
    &--active
      & ^[0]__header
        background #93c01f
        color #fff

        &__icon .v-icon
          color #fff!important

p
  margin-bottom 0

  &+&
    margin-top 16px

.v-input
  .v-label
    margin-bottom 0!important

.container
  position relative

.v-progress-linear
  &--over
    position absolute
    top 0
    left 165px
    margin 0
    right 0
    width auto

    & ^[0]__bar
      opacity 0.8

    & ^[0]__background
      z-index 1

    @media (max-width: 767px)
      left 0